html,
body {
  height: 100%;
  position: relative;
  overflow: auto;
}

body {
  margin: 0;
  position: relative;
  font-family: "Akzidenz Grotesk", sans-serif;
}

.body {
  display: flex;
  flex-direction: column-reverse;
  /* margin: 50px 20px; */

  height: auto !important;
  min-height: 100%;
  align-items: center;
  padding: 0 20px;
}

@media screen and (min-width: 1120px) {
  .body {
    flex-direction: row;
    padding: 0;
    align-items: flex-start;
  }

  .watchContainer, .leaderboard {
    width: 50%;
  }

  .leaderboard {
    padding: 50px 50px 0 0;
  }

  .logo {
    width: 18%;
  }
}

.container {
  height: auto !important;
  min-height: 100%;
  background-color: #0068b3;
}

.watchContainer {
  width: 100%;
  padding-top: 50px;
}

.stopwatchTitle {
  font-weight: bold;
  color: white;
  font-size: 35px;
  margin-top: 0;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watchButtons img {
  width: 250px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

#timer {
  font-size: 100px;
  margin: 20px auto;
  color: #ffc250;
  font-weight: bold;
}

.subtitle,
.contestant p {
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 0;
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.leaderboard h1 {
  margin: 0;
  color: white;
  font-weight: bold;
}

.logo {
  width: 30%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.row {
  display: flex;
  margin-left: 115px;
}

.infoCol {
  width: 50%;
}

.header h2 {
  font-size: 45px;
  /* margin-right: 100px; */
  color: #0068b3;
  margin: 0 100px 0 0;
  align-self: center;
}

.contestant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

input[type="text"] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

#submit {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin: 0 40% 50px; */
  font-weight: bold;
  margin-right: 10px;
}

.formButtons {
  display: inline;
  align-self: center;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

table {
  width: 100%;
}
table,
th,
td {
  /* border: 1px solid black; */
  border-collapse: collapse;
  /* font-size: 30px; */
}

thead {
  background-color: #127fc3;
  color: white;
  font-size: 20px;
}

td,
th {
  padding: 10px;
  text-align: center;
  color: white;
}

tbody tr:first-of-type {
  background-color: #de1212;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #04538b;
}

#attendeeInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

label {
  color: white;
  font-size: 13px;
}

#currentAttendee {
  font-size: 50px;
  margin: 0;
  font-weight: normal;
  color: #ffc250;
}

.timerButtons {
  /* background-color: #04AA6D; */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  /* margin: 0 40% 50px; */
}

#start {
  background-color: #04aa6d;
}

#stop {
  background-color: #de1212;
}

#reset {
  background-color: #ffa600e1;
}

.export {
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-self: end;
  margin-bottom: 10px;
}

.trash {
  cursor: pointer;
}
